@import "bootstrap";

.search-area {
  padding-top: 50px;
  padding-bottom: 20px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.results-block {
  display: inline-block;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.user-name {
  margin-left: 60px;
  margin-top: 3.5%;
  padding-right: 12px;
}